/* <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css"> 

.nanumsquare { 
	font-family: 'NanumSquare', sans-serif !important; 
} */

/* -------------------------header css------------------------- */
.container-fluid_st {
	/* background: linear-gradient(90deg, #003a63, #788896, #788896, #003a63); */
    background: #003154;
	border: 0;
	margin: 0 auto;
}

.navbar {
	border: none;
	margin-bottom: 0;
    height: 50px;
}

.navbar-header {
    width: 100%;
    display: flex;
    padding: 0 2%;
}

.header_logo {
   display: block;
    margin: 0 2% 0 0;
    font-size: 34px;
    width: 8%;
    text-align: center;
    font-weight: 700;
    line-height: 50px;
    font-family: -webkit-pictograph;
    color: white;
    text-shadow: 3px 3px 3px #000000;
}

.header_logo:hover {
	cursor: pointer;
}

.navbar .navbar-nav {
    width: 54%;
    margin-left: 36%;
    font-family: 'Noto Sans KR', sans-serif;
}

@media (max-width: 1600px) {
.navbar .navbar-nav {
    width: 60%;
    margin-left: 30%;
}
}


.navbar .navbar-nav>li {
	text-align: center;
    cursor: pointer;
    margin: 0 1%;
    font-size: 16px;
    color: white;
    line-height: 50px;
    font-weight: 400;
    width: 13%;
}

.navbar .navbar-nav>li>a {
	color: #fff;
}

.navbar .navbar-nav>li>a:hover {
	color: #0d4268;
}

.navbar .navbar-nav .header_logout {
    float: right;
   /*  margin: 0 0 0 4%; */
    width: 14%;
}

.navbar .navbar-nav .header_logout>a:hover  {
	color: #40e0bb !important;
	background-color: rgba(255, 255, 255, 0);
}