@charset "UTF-8";

<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css"> .nanumsquare { font-family: 'NanumSquare', sans-serif !important; }

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); .notosanskr * { font-family: 'Noto Sans KR', sans-serif; }

body {
	background-color: #003a63;
	overflow-y: hidden !important;
	outline: none;
}

.body_width {
    width: 100%;
    height: 887px;
    overflow-y: hidden;
    padding: 2% 3%;
}

.content_width {
	height: 100%;
    width: 100%;
    background: #fff;
}

input:focus {
	border: none !important;
    box-shadow: 0px 0px 6px #48c7c7;
    outline:none !important;
}

button:focus {
	border: none !important;
    outline:none !important;
}